footer .container {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

footer h1 {
    color: rgb(128, 128, 128);
    padding-bottom: 20px;
}

footer a {
    color: rgb(128, 128, 128);
    font-size: 20px;
}
