header{

        .logo{
            width: 250px;
            height: 145px;
            margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
        }

}

.nav-menu {
    text-align: center;

        ul {

            li {
                display: inline-block;

                    a{
                        display: inline-block;
                        padding: 15px;
                        font-size: 20px;
                        color: #000;
                        font-family: sans-serif;
                        font-weight: bold;

                        &:hover {
                            background-color: #b3e5fc;
                            border-radius: 10px;
                        }
                    }
            }
        }
}
